---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About page">
  <Title>About</Title>
  <p>
    SpaceX is an American aerospace company founded in 2002 by Elon Musk that
    helped usher in the era of commercial spaceflight. Its name in full is Space
    Exploration Technologies Corporation.
  </p>
</Layout>
